{% extends 'app/base.html' %}

{% block content %}
<h2 class="mb-4">Users List</h2>

<div class="row">
{% for user in users %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{{ user.picture.url }}" class="card-img-top" style="height:200px; object-fit:cover;">

            <div class="card-body">
                <h5 class="card-title">{{ user.name }} {{ user.surename }}</h5>
                <p class="card-text">Age: {{ user.age }}</p>
                <p class="card-text">Email: {{ user.email }}</p>
                <p class="card-text">Phone: {{ user.phone_number }}</p>

                <a href="{% url 'user_view' user.slug %}" class="btn btn-primary btn-sm">View</a>
                <a href="{% url 'user_update' user.slug %}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{% url 'user_delete' user.id %}" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
{% empty %}
<p>No users found</p>
{% endfor %}
</div>

{% endblock %}